# Ignore Python specific files
__pycache__/
*.pyc
*.ipynb_checkpoints/
.env/
venv/
.pytest_cache/

# Ignore data directories (raw data, large processed data, downloaded external data)
data/raw/
data/processed/
data/external/amharic_news_ner_dataset/ # Can be large, consider if you want to track it
data/external/shageronlinestore_sample/ # Can be large, consider if you want to track it
# data/labeled/ # Uncomment if your labeled data becomes VERY large and you don't want to version control it all.

# Ignore downloaded models (can be large)
models/*
# Common model file extensions:
*.bin
*.safetensors
*.ckpt

# Ignore sensitive configuration files
config/.env

# Operating System specific files
.DS_Store
Thumbs.db